# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
*.pem
*.key
*.crt
session

# Logs
logs
*.log

# Git
.git
.gitignore

# OS / editor
.DS_Store
.vscode
.idea

# Python cache (there are some python scripts in samunu)
**/__pycache__
*.pyc

# Misc
Thumbs.db
